section {}

code {
	margin-bottom: 5px;
	white-space: pre-wrap;
	padding: 10px;
}

.details {
	margin-left: 20px;
}

.details h3 {
	border-left: 4px solid #f5f5f5;
	padding-left: 10px;
}

.listing {
	list-style: none;
}

.explain {
	margin-left: 20px;
}

table.params {
	margin-bottom:15px;
	border:1px solid #f5f5f5;
	width:100%
}

table.params th {
	padding: 8px;
	font-weight:700;
	border-bottom: 1px solid #E2E2E2 !important;
	background: #f5f5f5;
}

table.params td {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #E2E2E2 !important;
	border-right:1px solid #E2E2E2;
	vertical-align: middle;
}

table.params td:nth-child(2) {
	font-weight: bold;
}

table.params td.param {
	border-right:1px solid #E2E2E2;
	font-size:1.1em;
}